/* sgcet */

@media only screen and (max-width: 768px) {

    .inline-block {
        display: inline-block;
    }
	
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }

}

@media only screen and (max-width: 320px) {
    


}

@media only screen and (min-width: 768px) { 

    .comfort-levels .tab-content .col-9 {
        margin: 0;
    }

    .comfort-levels .tab-content .col-3 {
        text-align: left;
    }

    .resp-tab-content h3 {
        font-size: 30px;
    }

    .featured-area.fabric-bg h2 {
        font-size: 24px;
    }

    .featured-area.fabric-bg h2 span {
        font-size: 30px;
    }

}