@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../fonts/hvd_fonts_-_brandongrotesque-bold-webfont.woff2') format('woff2'),
         url('../fonts/hvd_fonts_-_brandongrotesque-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('../fonts/hvd_fonts_-_brandongrotesque-light-webfont.woff2') format('woff2'),
         url('../fonts/hvd_fonts_-_brandongrotesque-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../fonts/hvd_fonts_-_brandongrotesque-medium-webfont.woff2') format('woff2'),
         url('../fonts/hvd_fonts_-_brandongrotesque-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('../fonts/brandongrotesque-regular-webfont.woff2') format('woff2'),
         url('../fonts/brandongrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}









