//Container width and Screen sizes;

$container-width : 960px;

$media-tablet : 768px;
$media-tablet-minus-one :767px;
$media-mobile-x: 600px; 
$media-mobile: 480px;

//Font families;

$primary-font-family :'brandon_grotesque_regularRg';
$primary-font-family-medium : 'brandon_grotesquemedium';
$primary-font-family-light : 'brandon_grotesquelight';
$primary-font-family-bold : 'brandon_grotesquebold';

//Font sizes;

$base-font-size: 16px;

//Colors;

$primary-font-color: #FFF;
$secondary-font-color: #000;
$teritiary-font-color: #686868;
$footer-font-color: #989797;
$link-font-color: #989797;
$border-color: #a7a7a7;










