@import url(https://fonts.googleapis.com/css?family=Tinos:400,400italic,700,700italic);

@font-face {
    font-family: 'big_caslonmedium';
    src: url('../fonts/big_caslon_medium-webfont.woff2') format('woff2'),
         url('../fonts/big_caslon_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}









