//Container width and Screen sizes;

$container-width : 960px;

$media-tablet : 768px;
$media-mobile-x: 600px; 
$media-mobile: 480px;

//Font families;

$primary-font-family :'big_caslonmedium';
$secondary-font-family : 'Tinos', serif;
$teritiary-font-family :'Arial', sans-serif;

//Font sizes;

$base-font-size: 16px;

//Colors;

$banner-font-color: #FFF;
$heading-font-color: #303030;
$primary-font-color: #8e8e8e;
$secondary-font-color: #000;
$footer-font-color: #989797;
$link-font-color: #989797;










